<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <style>
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  </style>
</head>


<body>
  <h1 class="text-center display-4"> Inserting Project Details</h1>
  <div class="container w-50 containetr-fluid my-3">

    <input required class="form-control mb-2" type="text" id="pname" placeholder="Enter Project name" name="Fname">
    <input required class="form-control mb-2" type="text" id="plead" placeholder="Project Lead" name="Email">
    <ul style="list-style: none;" id="ul">
      <li> <input required class="memname form-control mb-2" type="text" placeholder="Project Team Members" id="tmem"
          name="memname"></li>
    </ul><button onclick="newmem()" class="btn btn-primary">Add Team Member</button>

    <input required class="form-control mb-2" type="date" id="sdate" placeholder="Project Start Date" name="Sdate">
    <input required class="form-control mb-2" type="date" id="edate" placeholder="Project End Date " name="Edate">
    <button class="btn btn-success" onclick="submit()">submit</button>

  </div>

  <div class="container text-center">
    <a href="/prodisp" class="btn btn-info">View</a>

  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>



    function newmem() {
      let ul = document.getElementById('ul');
      let li = document.createElement('li');
      let input = document.createElement('input');
      let btn = document.createElement('button');
      // input.setAttribute('required', '');
      input.className = "memname form-control mb-2";
      input.placeholder = `Project Team Member`;
      input.type = "text";
      btn.innerText = "Remove Member";
      btn.className = "btn btn-warning";
      li.appendChild(input);
      btn.addEventListener('click', (e) => {
        e.preventDefault();
        ul.removeChild(li);
      })
      li.appendChild(btn);
      ul.appendChild(li);
    }
    function submit() {
      console.log('hi');
      let pname = document.getElementById('pname').value;
      let plead = document.getElementById('plead').value;
      let sdate = document.getElementById('sdate').value;
      let edate = document.getElementById('edate').value;
      let memname = [];
      let k = document.getElementsByClassName('memname');
      for (let i = 0; i <= k.length - 1; i++) {
        memname.push(k[i].value)
      }

      $.ajax({
        type: "POST",
        url: "/insertpro",
        dataType: "json",
        data: {
          ProjectName: pname,
          ProjectLead: plead,
          StartDate: sdate,
          EndDate: edate,
          TeamMembers: memname
        }
      });
    }
  </script>



</body>

</html>