<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
    <body class="bg-info">
      <div class="container mt-5">
        <form action="/deletedata" method="post">
            <div class="form-group">
                Product_id <input class="form-control"  type="text" name="id" placeholder="ProductId">
            </div>
            <div class="container text-center">
              <button class="btn btn-dark" type="submit" name="search">Delete</button>
              </div>
        </form>
        </div>
      </div>   
    </body>
</html>