<!doctype html>
<html lang="en">
  <head>
    <title>CRUDSEARCH</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <h5>Employee_Table:</h5>
      
    <form action="/insert" method="post">
        <div class="form-group">
           <label for="name">FullName:</label>
            <input type="text"  placeholder="FullName"  name="FullName"><br><br>
            <label for="email">EmailAddress:</label>
                <input type="email" class="form-group" placeholder="Enter email" name="email"><br><br>
              <!-- </div> -->
            <label for="name">Password:</label>
            <input type="password" class="form-group" id="pwd" placeholder="Password"  name="Pwd"><br><br>
            <label for="name">PhoneNumber:</label>
            <input type="text" id="ph.no" placeholder="phonenumber" name="phoneno"><br><br>
            <label for="name">JoiningDate:</label>
            <input type="text" placeholder="MM/DD/YYYY" name="JoinDate"><br><br>
            <label for="name">D.O.B:</label>
            <input type="text" placeholder="MM/DD/YYYY" name="DOB"><br><br>
            <div class="input-group-append">
              <div class="container text-center">
              <button type="submit" class="btn btn-info" value="Submit Button">submit</button>
               </div><br></div>
           
               <!-- <div class="form-group">
              search<select class="form-group" name="search">
                <option>search API</option>
                </select>
              <input class="form" type="text" placeholder="Search" name="search" >
            </div> -->



            
            <!-- <h5>Project_Table:</h5><br>
            <label for="name">ProjectName:</label>
            <input type="text"  placeholder="ProjectName"  name="PN"><br><br>
            <label for="name">ProjectLead:</label>
            <input type="text"  placeholder="ProjectLead"  name="PL"><br><br>
            <label for="name">TeamMembers:</label>
            <input type="text"  placeholder="TeamMembers"  name="TM"><br><br>
            <label for="name">ProjectstartDate:</label>
            <input type="text" placeholder="MM/DD/YYYY" name="startDate"><br><br>
            <label for="name">ProjectEndDate:</label>
            <input type="text" placeholder="MM/DD/YYYY" name="endDate"><br><br>
            </div> -->
        </div>
     </form>
  </body>
</html>