<!doctype html>
<html lang="en">
  <head>
    <title>login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <h5>Login</h5>
    <form action="/login" method="post">
    <label for="email">EmailAddress:</label>
    <input type="email" class="form-group" placeholder="Enter email" name="email"><br><br>
    <label for="name">Password:</label>
    <input type="password" class="form-group" placeholder="Password" name="pwd"   ><br><br>
   


    <button type="submit" class="btn btn-success" value="Submit Button">submit</button>
  </body>
</html>