<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="col-9">
        <select id="generals" name="generals" class="form-control kt-selectpicker"  multiple title="Choose one of the following...">
        <optgroup label="Passport">
            <option value="passport_number">Number</option>
            <option value="passport_date">Date of issuance</option>
            <option value="passport_expired">Date of expiry</option>
            <option value="passport_office">Issuing Office</option>
        </optgroup>
            <optgroup label="Personal">
                <option value="applicant_id">Applicant Id</option>
                <option value="first_name">First Name</option>
                <option value="first_name">Middle Name</option>
                <option value="last_name">Last Name</option>
                <option value="address">Address</option>
                <option value="crew_id">Crew Id</option>
                <option value="email">Email</option>
                <option value="mobile_number">Mobile Number</option>
            </optgroup>
        </select>
    </div>
    
      
    
  </body>
</html>




