<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
   
</head>
</head>
</head>
    <title>Project table</title>
</head>
<body>
    <form method="post" action="/insert1">
        <div class="form-group">
          <label for="Projectname">Projectname:</label>
          <input type="Name" class="form-control" id="projectname">
        </div>
        <div class="form-group">
            <label for="Projectlead">projectlead:</label>
            <input type="projectlead" class="form-control" id="projectlead">
          </div>
          <div class="form-group">
            <label for="Teammember">Team member</label>
            <input type="teammember1" class="form-control" id="tm1">
            <input type="teammember2" class="form-control" id="tm2">
            <input type="teammember3" class="form-control" id="tm3">
          </div>
          <div class="form-group">
            <label for="prostartdate" class="control-label">Project start Date</label>
            <input type="date" name="prostartdate" id="psd" class="form-control">
       </div>
       <div class="form-group">
             <label for="projectenddate" class="control-label">project end date</label>
             <input type="date" name="proenddate" id="ped" class="form-control">
       </div>
        
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
</body>
</html>