<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <input type="text" class="form-group" id="p-name" placeholder="product name"> 
    <!-- <input type="text" class="form-group" id="c-name" placeholder="category name">
    <div class="btn-group">
        <button type="button" class="btn btn-border border-white dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"> </button>
    </div> 
    <br> -->
    <button class="btn.btn-default dropdown-toggle" type="button" data-toggle="dropdown">category name  </button><br><br>
    <input type="text" class="form-group" id="price" placeholder="Enter price"><br>
    <button type="button" class="btn btn-secondary btn-sm">Submit</button><br><br>
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </body>
</html>