<!DOCTYPE html>
<html lang="en">
<head>
    <title>JOKE GENERATOR</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
   <div class="mt-5 container text-centre" >
    <h1 class="mb-5">JOKES</h1>
    <form action="/insert" method="post">
        
    </form>

   </div>

</head>
<body>
    
</body>
</html>