<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
      <h1 class="">Programing Jokes!</h1>
      <form action="/insert" method="post">
        <input type="text" class="jumbotron form-control" name="joke" value="<%= joke %>">
        <input type="submit" value="Tell me a Joke" class="btn btn-danger text-white"/>
      </form>
    </div> 
  </body>
</html>
