<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
      <h1> Jokes!</h1>
      <form action="/insert" method="post">
        <input type="text" name="joke" value="<%= joke %>">
        <input type="submit" value="Tell me a Joke"/>
      </form>
    </div> 
  </body>
</html>

