<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="mt-5 container text-center">
      <h1 class="mb-5">Programing Jokes!</h1>
      <form action="/" >
        <input type="text" class="jumbotron form-control" name="joke" value="<%= jo %>">
        <input type="submit" value="Tell me a Joke" class="btn btn-danger text-white"/>
        <a href="/display" class="btn btn-success text-white">View Jokes</a>
      </form>
    </div> 
  </body>
</html>