<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>hey  <%= @user.name %>! <%= @commented_user.name %> is commented on ur posts</h1>
    <h3>
      <%= @comment.comment %></h3>
    
    
   
  </body>
</html>
