
.container{
position:absolute;
top:30%;
left:30%;
}

#display{
    outline:none;
    border:none;
    width:290px;
    padding:20px;
    font-size:larger;
    text-align: end;
}

.btn{
    border:rgb(67, 179, 151) solid 0.5px;
    background-color: white;
    width:80px;
    padding:10px;
    margin:auto;
    font-size: large;
}
input[type='button']:hover{
    background-color: grey;
    cursor: pointer;
    
}
#display{
    background-color: black;
    color: white;
    margin-bottom: 5px;
}