<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <form action="/insert" >
          <h1>PRODUCTS</h1> 
         <div class="form-group">
              <input type="text" name="" class="form-control" id="input1" placeholder="Enter Product Name"><br>
          </div>
          <div class="form-group">
              <select name="categories" id="" class="form-control" aria-placeholder="Select categories">
                  <option value="">Select categories</option>
          </select>
      </div>
      <div class="form-group">
          <input type="text" name="" id="input2" placeholder="Enter Price" width="200px"><br>
          <br>
          <button type="submit">Submit</button> -->
   <input type="submit">
</form>
  </body>
</html>


