

.head{
    margin-top: 18%;
    margin-left: 38%;
    margin-bottom: 30px;
}
.head1{
    margin-top: 2%;
    margin-left: 37%;   
}
.head2{
    margin-top: 2%;
    margin-left: 38%;
    margin-bottom: 30px;
}
.head3{
    margin-top: 2%;
    margin-left: 37%;   
}
.btn{
    margin-top: 2%;
    margin-left: 40%;
}
