<table>
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
    </thead>
    <body>
        <%for (i=0;i<data.length;i++){%>
            <td><%data[i].product_id</td>
            <td><%data[i].product_name</td>
            <td><%data[i].category_id</td>
            <td><%data[i].price</td>
        }
    </body>
</table>