<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO List</title>
</head> 
<body>
    <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">

          <h6 class="mb-3"> Todo List</h6>

          <form class="d-flex justify-content-center align-items-center mb-4">
            <div class="form-outline flex-fill">
              <input type="text" id="form3" class="form-control form-control-lg" />
              <label class="form-label" for="form3">My Task</label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg ms-2">Add</button>
          </form>
    </form>
</body>
</html>