<!doctype html>
<html lang="en">
  <head>
    <title>Employee</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
      
    <body class="bg-primary">
        <form action="/emp_insert" method="post">
        <div class="class">
            <div class="form-group">
              <div class="container text-center">
              <h1>Employee</h1>
               Full Name <input type="text" class="form-control"  name="fullname" id="entry"  placeholder="Enter full name">
               <br>Email <input type="text" class="form-control"  name="email" id="entry"  placeholder="Enter email">
               <br>Password <input type="password" class="form-control"  name="password" id="entry"  placeholder="Enter password">
               <br>Phone number <input type="text" class="form-control"  name="phoneno" id="entry"  placeholder="Enter phone number">
               <br>Joining Date <input type="date" class="form-control"  name="joiningdate" id="entry"  placeholder="Enter joining date">
               <br>Date of birth <input type="date" class="form-control"  name="dob" id="entry"  placeholder="Enter Date of Birth">
               <br><br><button type="submit" id="">Submit</button>
               </form>
               <a href="/view" class="btn btn-success">DisplayTable</a>
               <a href="/project" class="btn btn-success">Project</a>
              </div>
            </div>
        </div>
        </div>
  </body>
</html>