<!doctype html>
<html lang="en">
  <head>
    <title>Employee</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
      
    <body class="bg-primary">
        <form action="/pro_insert" method="post">
        <div class="class">
            <div class="form-group">
              <div class="container text-center">
              <h1>Project</h1>
               Project Name <input type="text" class="form-control"  name="projectname" id="entry"  placeholder="Enter project name">
               <br>Project Lead <select type="text" class="form-control"  name="projectlead" id="entry"  placeholder="Enter Project Lead">
               <option>Enter Lead Name</option>
               <% pro.each do |valu| %>
                <option><%= valu['fullname']%></option>
                <%end%>
               </select>

               Team members<select class="form-control" class="selectpicker" name="teammembers[]" multiple data-selected-text-format="count">
               <% pro.each do |valu| %>
                <option><%= valu['fullname']%></option>
                <%end%>
               </select>
               <br>Project Start Date <input type="date" class="form-control"  name="projectstartdate" id="entry">
               <br>Project End Date <input type="date" class="form-control"  name="projectdeathdate" id="entry">
               <br><br><button type="submit"class="btn btn-dark" >Submit</button>
               </form>
               <a href="/viewprodata" class="btn btn-success">view</a>
              </div>
            </div>
        </div>
  </body>
</html>