<!DOCTYPE html>
<html lang="en">
  <head> 
  </head>
  <body>
    <form action="/insert" autocomplete="off" method="post">
    <input type="text" name="jokes" id="joke" value="<%=joke%>"> 
    <input type="submit" value="Tell me a joke">
    </form>
  </body>
</html>