<%-include("style.ejs");-%>
<body>
      <div class="container mt-5 jumbotron">
          <h3 class=""> <h3> Create Employee Details</h3><br>
          <form action="/insert" method="POST">
              <div>
                <label id="fname" >Fullname:</label>
                <input type="text" class="form-control"  placeholder="Enter Fullname"  name="full_name"><br><br>
              </div>
            <div>
              <label id="mail" >Enter your email:</label>
              <input type="text" class="form-control"  placeholder="Enter email" name="email"><br><br>
            </div>
            <div >
              <label id="pwd" >Enter the Password:</label>
              <input type="password"  class="form-control"  placeholder="Password"  name="password"><br><br>
            </div>
            <div >
              <label id="numb" >Enter Phone number:</label>
              <input type="number" class="form-control"  placeholder="Phone number"   name="phonenumber"><br><br>
            </div>
            <div >
              <label id="jdate" >Joining date:</label>
              <input type="date"  class="form-control"   placeholder="MM/DD/YYY"  name="joiningdate"><br><br>
            </div>
            <div>
              <label id="dob">Date of birth:</label>
              <input type="date"  class="form-control"   placeholder="MM/DD/YYY"   name="dateofbirth"><br><br>
            </div>
            <input type="submit" class="btn btn-outline-success">
            <a  href="/list" class="btn btn-outline-info">View</a>
            <a href="/project" class="btn btn-outline-Secondary">Create Project</a>
          </form>
            
      </div>
    </body>