<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Project table</title>
</head>
<body>
    <form method="post" action="/insert1">
      <div class="form-group">
        <label for="Pro_id">Pro_id:</label>
        <input type="ID" class="form-control" name="ID">
      </div>
        <div class="form-group">
          <label for="Projectname">Projectname:</label>
          <input type="Name" class="form-control" name="projectname">
        </div>
        <div class="form-group">
            <label for="Projectlead">projectlead:</label>
            <input type="projectlead" class="form-control" name="projectlead">
          </div>
          <div> <ul class="list-group" name = "tm"> 
            <label for="Team member">Team member:</label>
            <li class="list-group-item"><input type="teammember" class="form-control" name="teammember1"></li>
            <li class="list-group-item"><input type="teammember" class="form-control" name="teammember2"></li>
            <li class="list-group-item"><input type="teammember" class="form-control" name="teammember2"></li>
          </ul>
        </div>
          <div class="form-group">
            <label for="prostartdate" class="control-label">Project start Date</label>
            <input type="date"  name="psd" class="form-control">
       </div>
       <div class="form-group">
             <label for="projectenddate" class="control-label">project end date</label>
             <input type="date" name="ped" class="form-control">
       </div>
        
       <input type="submit" class="btn btn-info">    
        <a href="/displaypro" class="btn btn-info">View</a>
      </form>
</body>
</html>