<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
   
      <h1 class="mb-5">Random Joke</h1>
      <form action="/insert" method="post">
        <input id="joke" class="jumbotron form-control" name="joke" value="<%=joke%>" />
        <button class="btn btn-primary text-white" type="submit"> Tell me a Joke </a>
      </form>
    </div>
  </body>
</html>