<!doctype html>
<html lang="en">
  <head>
    <title>Joke</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="bg-dark">
    <div class="class">
      <div class="form-group">
    <form action="/insert" autocomplete="off" method="post">
      <div class="container text-center">
      <input class="form-control input-lg"  type="text" name="jokes" id="joke" value="<%=joke%>"> 
      <br><br> <input type="submit" value=Joke>
      </form>
    </div>
  </div>
      
  </body>
</html>
