<p style="color: green"><%= notice %></p>



<div class=" post-par" id="posts">
  <% @post.each do |post| %>
  <div class="post-p"> <%= render post %>
      <%= link_to "Show this post", post, class:"btn btn-info" %>  
   </div>
  <% end %>
<%= will_paginate @post,renderer: BootstrapPagination::Rails %>
</div>



