<head>
</head>
<body>
    <div class="">
        <h3>Employee Details</h3>
        <form action="http://localhost:2000/insert" method="POST">
          <div>
            <div>
              <label id="fname" >Fullname:</label>
              <input type="text"  id="fname" placeholder="Enter Fullname" name="empname"><br><br>
            </div>
          <div >
            <label id="mail" >Enter your email:</label>
            <input type="text" id="mail" placeholder="Enter email" name="email"><br><br>
          </div>
          <div>
            <label id="pwd" >Enter the Password:</label>
            <input type="password" id="pwd" placeholder="Password" name="pass"><br><br>
          </div>
          <div>
            <label id="numb" >Enter Phone number</label>
            <input type="number" id="numb" placeholder="Phone number" name="num"><br><br>
          </div>
          <div>
            <label id="jdate" >Joining date:</label>
            <input type="date" id="jdate" data-date="" data-date-format="MM DD YYY" placeholder="MM/DD/YYY"><br><br>
          </div>
          <div>
            <label id="dob">Date of birth:</label>
            <input type="date" id="dob" data-date="" data-date-format="MM DD YYY" placeholder="MM/DD/YYY"><br><br>
            <div>
          <input type="submit">
          <a  href="/view">Enter project details</a><br><br>
        </form>
    </div>
  </body>






