<head>
  <title>employeeCrud</title>
</head>
<body>
  <form action="http://localhost:2000/insert" method="POST">
    <div>
      <div>
        Fullname: <input type="text" id="ename" placeholder="Enter Name" name="ename"><br><br>
      </div>
      <div>
        Email: <input type="email" id="ename" placeholder="Enter Name" name="ename"><br><br>
      </div>
      <div>
        Password: <input type="password" id="email" placeholder="Enter Email" name="email"><br><br>
      </div>
      <div>
        Phone Number: <input type="number" id="ephone" placeholder="Enter PhoneNumber" name="ename"><br><br>
      </div>
      <div>
        Join Date: <input type="date" id="jdate" placeholder="MM/DD/YYYY"><br><br>
      </div>
      <div>
        Date Of Birth: <input type="date" id="dob" placeholder="MM/DD/YYYY"><br><br>
      </div>
      <input type="submit">
      <a href="/views">Enter Project Details</a>
    </div>
  </form>
</body>