<head>
    <title>projectdetails</title>
</head>
<body>
    <h3>Project Details</h3>
    <form action="http://localhost:2000/insert" method="POST">
        <div>
            <div>
                ProjectName:<input type="text" id="pname" placeholder="Enter Project Name" name="pname"><br><br>
            </div>
            <div>
                ProjectLead:<input type="text" id="lname" placeholder="Enter Name" name="lname"><br><br>
            </div>
            <div>
                TeamMembers:<input type="text" id="tmname" placeholder="Enter Project Name" name="tmname"><br><br>
            </div>
            <div>
                Project StartDate:<input type="date" id="date" placeholder="MM/DD/YYYY"><br><br>
            </div>
            <div>
                Project EndDate:<input type="date" id="date" placeholder="MM/DD/YYYY"><br><br>
            </div>
        </div>

    </form>
</body>