<!doctype html>
<html lang="en">
  <head>
    <title>Employee</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="bg-light">
     <form action="/insert" method="post">
     <div class="form-group"
      <div class="container-fluid">
      <div class="container text-center">
      
          <p class="text-center">wellcome</p>

            <input type="text" name="full_name" class="form-control" placeholder="name"><br>
            <input type="email" name="email" class="form-control" placeholder="email"><br>
            <input type="password" name="password" class="form-control" placeholder="password"><br>
            <input type="number" name="phone_number" class="form-control" placeholder="phone_number"><br>
            <input type="date" name="join_date" class="form-control" placeholder="joining_date"><br>
            <input type="date" name="date_of_birth" class="form-control" placeholder="date_of_birth"><br>

            <input class="btn btn-primary" type="submit" value="Submit">

            </div>
            </div>
          </form>
          <a href="/project_insert" class="btn btn-primary">Addproject</a>
          <a href="/view" class="btn btn-primary">viewTable</a>
          <a href="/project_view" class="btn btn-primary">projects</a>
           
      
    
  </body>
</html>