<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <div class="mt-5 container text-center">
      <h1 class="mb-5">Programing Jokes!</h1>
      <form action="/insert" method="post">
        <input id="joke" class="jumbotron form-control" name="joke" value="<%= joke %>" />        
        <input type="submit" value="tell me joke" class="btn btn-danger" />
      </form>
    </div>
    
  </body>
</html>
