<%# stylesheets and design%>
<%=erb :style%>
<div class="w3-container w3-margin-top w3-animate-top">
<div class="w3-panel w3-card-4 w3-blue w3-round">
    <h1 class="w3-center">Dashboard</h1>
  </div>
<div class="w3-card-4 w3-center w3-padding">
<%if session[:user]%>
  <h2 class="w3-panel w3-green">Suceessfully Logged in <%=session[:user]%></h2>
<%end%>
<h2 class="w3-container w3-center">Welcome <%=un%></h2>
<%if session[:role]=='tl'%>
<a href="/emp_view_page" class="w3-button w3-blue w3-round w3-margin-right">Employee </a>
<a href="/pro_view_page" class="w3-button w3-green w3-round">Project</a><br>
<% else %>
<a href="/emp_details" class="w3-button w3-blue w3-round w3-margin-right">Employee Details</a>
<%end%>
<a href="/logout" class="w3-button w3-red w3-round w3-section">Logout</a>
</div>
</div>