<div class="container mt-5 jumbotron">
  <h1>Todo Tasks</h1>
  <ul class="list-group">   
    <% for(var i = 0; i <todos.length; i++){ %>
      <li class="list-group-item">
        <input type="checkbox" name="todo" value="<%todos[i].id=>" onclick="com(event,'<%=todos[i].id%>')">
         <%= todos[i].task %>
        </li> 
    <%} %>
  </ul>
</div>

<div class="container mt-5 jumbotron">
  <h1>Completed Tasks</h1>
  <ul class="list-group">   
    <% for(var i = 0; i <todos.length; i++){ %>
      <% if(todos[i].status==1){%>
      <li class="list-group-item">
        <input type="checkbox" name="todo" value="<%=todos[i].id%>"> 
        <%= todos[i].task %>
      </li> 
    <%} %>
    <%} %>
  </ul>
</div>